[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
cerberus = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
flask-mico = {editable = true,path = "."}
python-dotenv = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
